<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="singh.durgesh.com.applocker">
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/secure"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".Activity.SignupActivity"
            android:autoRemoveFromRecents="true" />
        <activity android:name=".Activity.AppListActivity" />
        <activity
            android:name=".Activity.PasswordActivity"
            android:autoRemoveFromRecents="true"
            android:launchMode="singleTask"></activity>

        <service android:name=".Services.SecureMyAppsService" />

        <receiver
            android:name=".Services.StartMyServiceAtBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activity.BasePatternActivity" />
        <activity
            android:name=".Activity.ConfirmPatternActivity"
            android:autoRemoveFromRecents="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.SetPatternActivity"
            android:autoRemoveFromRecents="true">

        </activity>
        <activity android:name=".Activity.HomeActivity">
            <intent-filter>
            <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>